#bodyexample{
    color:red;
}

/* to style header */

#headerDiv{
    height: 200px;
    width: 100%;
    background-color: khaki;
    text-align: center;
}

/* introDiv */
#div1{
    margin: 10px;
    float: left;
    padding: 15px;
    height: 300px;
    width: 500px;
    background-color: burlywood;
}

#textColor{
    color:white;
}



/* h1 to h6 div */
#div2{
    padding: 20px;
    margin: 10px;
    float: left;
    height: 500px;
    width: 880px;
    background-color: silver;
}


/* para div */
#div3{
    float: left;
    padding: 20px;
    margin: 10px;
    height: 180px;
    width: 95%;
    background-color: lightslategray;
}



/* unordered lists */
#div4{
    float: left;
    padding: 20px;
    margin: 10px;
    height: 250px;
    width: 45.5%;
    background-color: khaki;
}



/* ordered lists */
#div5{
    float: left;
    padding: 20px;
    margin: 10px;
    height: 250px;
    width: 45.5%;
    background-color: tan;

}

#div6{
    float: left;
    padding: 20px;
    margin: 10px;
    height: 300px;
    width: 45.5%;
    background-color: skyblue;
}

#div7{
    float: left;
    padding: 20px;
    margin: 10px;
    height: 560px;
    width: 45.5%;
    background-color: peru;

}

#div8{
    float: left;
    padding: 20px;
    margin: 10px;
    width: 95%;
    height: 500px;
    background-color: mediumseagreen;
}

#imageId{
    float: left;
    width: 45%;
}

#onlineImage{
    margin-left: 80px;
    float:left;
    width:45%;
}

#div9{
    margin: 10px;
    padding: 20px;
    float: left;
    height: 150px;
    width: 95%;
    background-color: darkkhaki;
}


